@import '../variables.scss';


.highlight {
    background-color: orange;
}

.container {
    padding: 3vw;
    width: 45vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    background-color: $lightColor;
    display: flex;
    align-items: center;
    
    @media (min-width:$big-screen) {
        padding: 50px;
    }
    .textCon {
        width: 100%;
        position: relative;
        height: fit-content;

        h3 {
            position: absolute;
            left: -3px;
            top: 100%;
            margin: 0;
            padding: 0;
            background-color: $midlightColor;
            padding: 5px;
            font-weight: 300;
            font-size: 1vw;

            @media (min-width:$big-screen) {
                 font-size: 0.8vw;
            }
        }

        mark {
            background-color: rgba(26, 110, 228, 0.43);
        }

        .textarea {
            position: absolute;
            resize: none;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            font-size: 14px;
            font-family: sans-serif;
            opacity: 0;
            padding: 5px;


            border: none;
            outline: 3px solid $midlightColor;
            min-height: 100px;

            overflow-y: hidden;
            white-space: pre-wrap;

            z-index: 3;
            margin: 0;
          


        }

    }
}